﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title xxx</title>
    
    @Scripts.Render("~/bundles/CMS-js")
    @Styles.Render("~/bundles/CMS-css")
</head>
<body>
    @RenderBody()
</body>
</html>
